<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - django</title>
    {% else %}
        <title></title>
    {% endif %} 
    <!-- <title>{% block title %} {% endblock %}</title> -->
</head>
<body>
    ------ BASE.HTML ----------
  
    {% block content %}
    {% endblock %}
    
    ------ END BASE  ----------
</body>
</html>